<!DOCTYPE html>
<html>
<head>
	<title>Hello World</title>
</head>
<body>

  <div id="nav">
    <app-nav 
      v-for="item in navList"
      v-bind:nav="item"
      v-bind:key="item.id"
    ></app-nav>
    <app-view>
      <app-sidebar></app-sidebar>
      <app-content></app-content>
    </app-view>
  </div>


	<div id="app">
		{{ message }}
	</div>

	<div id="app-2">
  		<span v-bind:title="message">
    		Hover your mouse over me for a few seconds
    		to see my dynamically bound title!
  		</span>
	</div>

	<div id="app-3">
  		<ol>
    		<li v-for="todo in todos">
      		{{ todo.text }}
    		</li>
  		</ol>
	</div>

  <div id="app-4">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <div id="app-6">
   <ol>
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id"
    > 
    </todo-item>
  </ol>   
  </div>


</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="main.js"></script>
</html>